<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Produtos</title>
</head>

<body>
    <nav>
        <img src="https://data.nssmag.com/images/galleries/23805/Senza-titolo-3(6).jpg" alt="">
        <a href="/">Home</a>
        <a href="/#cadastro">Cadastro</a>
        <a href="/#produtos">Produtos</a>
       
    </nav>
    <header>

    </header>
   
    
    <section id="produtos" action="/produtos" method="GET" name="cadastro">

        <h2>Produtos</h2>

        <% if(message != "") { %>
            <section id="message">
              <p><%=message%></p><span id="close">&times;</span>
          </section>
        <% } %>

        <% portfolio.forEach((tenis) => { %>
        
        <div class="container">
            <h3><%=tenis.nome%></h3>
            <img src="<%=tenis.imagem%>" alt="">
            <p>Tamanho: <%=tenis.tamanho%></p>
            <p>Cor: <%=tenis.cor%></p>
            
            <a id="btnEditar" href="/update/<%= tenis.id %>">Editar</a>
            <a id="btnApagar" href="/delete/<%= tenis.id %>">Apagar</a>
            <button id="btnDetalhes" href="/detalhes" value="<%=tenis.id%>"  onclick = " Mudarestado('.detalhes', this.value) ">Ver Mais</button>
            
          
        </div>
        <section class="secaoProdutos">

            <div  style="display:none" class ="detalhes">
  
                <p>Descrição: <%= tenis.descricao %>
                </p>
                <p>Tipo: <%= tenis.tipo %>
                </p>
                <p>ID: <%= tenis.id %>
                </p>
                <p>Material: <%= tenis.material %>
                </p>
               
            </div>
        </section>
        
        <% }); %>
        
        
          
    </section>

    
    <footer>
        <a href="/">Inicio</a>
        <a href="/#cadastro">Cadastro</a>
        <a href="/produtos ">Produtos</a>
        <p>&#9743; (41) 9.1911-3434</p>
        <p>&#9993; vk@vk.com</p>
        <p>  Sobre a Empresa: &#10100; Referência em vendas e distribuição de produtos.Entregamos para todo Brasil. &#10101;
    </footer>

   
<script src="js/index.js"></script>
</body>

</html>